<div class="container" style="line-height: normal;">

    <div style="font-size: 33px;; text-align: center;
    font-weight: 500; padding: 50px 0px; font-family: fantasy; color: darkgray;">My Portfolio</div>
    <div>
        <div *ngIf="isLoading" class="is-loading" style="height: auto;">
            <mat-spinner diameter=50 style="margin: 75px auto auto auto;">
            </mat-spinner>
        </div>
    </div>

    <ng-container *ngIf="!isLoading">
        <ngb-alert [dismissible]="false" *ngIf="showAlert" class="text-center" type="warning">
            Currently you don't have any stock.
        </ngb-alert>
    <div *ngFor="let i of portfolioElementsToDisplay; index as index">
        <div class="card my-3">
            <div class="card-header cursor-type"
                (click)="navigate_details(portfolioElementsToDisplay[index]['ticker'])">
                <span class="card-ticker">{{portfolioElementsToDisplay[index]['ticker']}}</span>
                <span
                    class="text-muted card-subticker px-2">{{portfolioElementsToDisplay[index]['companyName']}}</span>
            </div>
            <div class="card-body px-3" style="font-size: large;">

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-6 text-left">
                                Quantity:
                            </div>
                            <div class="col-6 text-right">
                                {{portfolioElementsToDisplay[index]['quantity']}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-6 text-left">
                                Change:
                            </div>
                            <div [ngClass]="(portfolioElementsToDisplay[index]['change'] > 0)?'text-success': (portfolioElementsToDisplay[index]['change'] < 0)?'text-danger' : ''"
                                class="col-6 text-right">
                                <span>
                                    <svg *ngIf="(portfolioElementsToDisplay[index]['change'] > 0)" width="0.8em"
                                        height="0.8em" viewBox="0 0 16 16" class="bi bi-caret-up-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                                    </svg>

                                    <svg *ngIf="(portfolioElementsToDisplay[index]['change'] < 0)" width="0.8em"
                                        height="0.8em" viewBox="0 0 16 16" class="bi bi-caret-down-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                                    </svg>
                                </span>
                                {{portfolioElementsToDisplay[index]['change'] | number:'1.2-2'}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-6 text-left">
                                Avg. Cost / Share:
                            </div>
                            <div class="col-6 text-right">
                                {{portfolioElementsToDisplay[index]['avgCost'] | number:'1.2-2' }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-6 text-left">
                                Current Price:
                            </div>
                            <div [ngClass]="(portfolioElementsToDisplay[index]['change'] > 0)?'text-success': (portfolioElementsToDisplay[index]['change'] < 0)?'text-danger' : ''"
                                class="col-6 text-right">
                                {{portfolioElementsToDisplay[index]['currentPrice'] | number:'1.2-2'}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-6 text-left">
                                Total Cost:
                            </div>
                            <div class="col-6 text-right">
                                {{portfolioElementsToDisplay[index]['totalCost'] | number:'1.2-2' }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="row">
                            <div class="col-6 text-left card-content">
                                Market Value:
                            </div>
                            <div [ngClass]="(portfolioElementsToDisplay[index]['change'] > 0)?'text-success': (portfolioElementsToDisplay[index]['change'] < 0)?'text-danger' : ''"
                                class="col-6 text-right">
                                {{portfolioElementsToDisplay[index]['marketValue'] | number:'1.2-2'}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-footer text-right">
                <button (click) = "openBuyModal(index, buyStocks)" type="button" class="btn btn-primary mr-3">Buy</button>
                <button (click) = "openSellModal(index, sellStocks)"type="button" class="btn btn-danger mr-3">Sell</button>
            </div>
        </div>
    </div>
    </ng-container>
</div>

<!-- Buy Stocks -->
<ng-template #buyStocks let-c="close" let-d="dismiss">
    <div class="modal-header pb-0 mb-0">
        <h4 class="modal-title" id="modal-basic-title">{{ portfolioElementsToDisplay[currentStockIndex]['ticker'] }}</h4>
        <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="d('Cross click')">
            <span aria-hidden="false">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>Current Price: {{ portfolioElementsToDisplay[currentStockIndex]['last'] | number:'1.2-2' }} </div>
        <div class="form-inline row pt-1">
            <label class="col-sm-2 col-form-label" for="numberInputEx">Quantity</label>
            <input class="form-control ml-2 mr-2 " min="0" type="number" [(ngModel)]="stockQuantity" id="numberInputEx" mdbInput>
        </div>
    </div>
    <div class="modal-footer pb-1 pt-1">
        <div class="mr-auto">Total: {{stockQuantity * portfolioElementsToDisplay[currentStockIndex]['last'] | number:'1.2-2'}}</div>
        <button  (click)="buyStockFunc()" [disabled]="stockQuantity < 1" type="button form-control" class="buy-button btn btn-success"
            >Buy</button>
    </div>
</ng-template>

<!-- Sell Stocks -->
<ng-template #sellStocks let-c="close" let-d="dismiss">
    <div class="modal-header pb-0 mb-0">
        <h4 class="modal-title" id="modal-basic-title">{{ portfolioElementsToDisplay[currentStockIndex]['ticker'] }}</h4>
        <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="d('Cross click')">
            <span aria-hidden="false">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>Current Price: {{ portfolioElementsToDisplay[currentStockIndex]['last'] | number:'1.2-2' }} </div>
        <div class="form-inline row pt-1">
            <label class="col-sm-2 col-form-label" for="numberInputEx">Quantity</label>
            <input class="col-md-2 form-control ml-3 mr-3" min="0" type="number" [(ngModel)]="stockQuantity" id="numberInputEx" mdbInput>
        </div>
    </div>
    <div class="modal-footer pb-1 pt-1">
        <div class="mr-auto">Total: {{stockQuantity * portfolioElementsToDisplay[currentStockIndex]['last'] | number:'1.2-2'}}</div>
        <button  (click)="sellStockFunc()" [disabled]="stockQuantity > this.portfolioElementsToDisplay[currentStockIndex]['quantity'] || stockQuantity < 1" type="button form-control" class="buy-button btn btn-success"
            >Sell</button>
    </div>
</ng-template>
