.p-4{
    background:linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("../home.png");
    background-size: cover;
    height: 1000px;
}

h1{
    font-family: fantasy;
    color: gray;
}

p{
    font-family: fantasy;
    color: gray;
}



