<div style="margin: 3.5% auto">
    <ng-container *ngIf="isLoading">
        <mat-spinner diameter="50" style="margin: 0 auto;"></mat-spinner>
    </ng-container>
</div>

<ng-container *ngIf="!isLoading">
    <ng-container *ngIf="tickerInvalid">
        <div class="alert-danger alert text-center text-dark">
            No results found. Please enter valid Ticker
        </div>
    </ng-container>
    
    <ng-container *ngIf="!tickerInvalid">
        <!-- Details -->
        <ng-container *ngIf="(watchlistString == 'add')">
            <ngb-alert class="text-center" type="success" (close)="watchlistString=''">
                {{ addedWatchlistString }}
            </ngb-alert>
        </ng-container>

        <ng-container *ngIf="(watchlistString == 'remove')">
            <ngb-alert class="text-center" type="danger" (close)="watchlistString=''">
                {{ removedString }}
            </ngb-alert>
        </ng-container>

        <ng-container *ngIf="showBuy">
            <ngb-alert class="text-center" type="success" (close)="showBuy=false">
                {{ boughtString }}
            </ngb-alert>
        </ng-container>


        <div class="row test_row">
            <div class="col-6 text-left test_col">
                <div>
                    <span class="ticker-name">
                        {{ details["ticker"] }}
                    </span>
                    <span class="star-icon align-top">
                        <button class = "pl-0" (click) = "onStarClick()" style="border: none; outline: none; background-color: white">
                            
                            <svg *ngIf = "!watchlistPresent" width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-star" 
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                            </svg>

                            <svg *ngIf="watchlistPresent" width="1.25em" height="1.25em" viewBox="0 0 16 16" class="bi bi-star-fill" fill="#fdd800" xmlns="http://www.w3.org/2000/svg">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            
                        </button>
                    </span>
                </div>
            </div>

        </div>

        <div class="row test_row mt-2 mt-md-0">
            <div class="col test_col">
                <div class="company-name text-muted">
                    {{ details["name"] }}
                </div>
            </div>
            <div class="col text-right test_col">
                <div [ngClass]="(details['change'] > 0) ? 'text-success' : (details['change'] < 0) ? 'text-danger' : ''">
                    <span class="last-price">
                        {{details["last"]}}
                    </span>
                    <span class="change">
                        <span>
                            <svg *ngIf="(details['change'] > 0)" width="0.8em" height="0.8em" viewBox="0 0 16 16"
                                class="bi bi-caret-up-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.247 4.86l-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                            </svg>

                            <svg *ngIf="(details['change'] < 0)" width="0.8em" height="0.8em" viewBox="0 0 16 16"
                                class="bi bi-caret-down-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                        </span>
                        {{ details["change"] }} ({{ details["changePercentage"] }}%)
                    </span>
                </div>
            </div>
        </div>

        <div class="row test_row mt-2 mt-md-2">
            <div class="col test_col">
                <div class="exchange-code text-secondary">
                    {{ details["exchangeCode"] }}
                </div>
            </div>
            <div class="col text-right test_col">
                <div class="text-secondary">
                    {{ details["currentTimestamp"] }}
                </div>
            </div>
        </div>

        <div class="row test_row mt-1 mt-md-1">

            <div class="col text-left test_col">
                <button type="button" class="buy-button btn btn-primary" (click)="openBuyModal(buyStocks)"> Buy </button>
            </div>
        </div>

        <div class="row align-items-center test_row mt-3 mt-md-1">
            <div class="col d-flex justify-content-center test_col">
                <div *ngIf="(details['marketStatus'] == 'open');then openBlock else closeBlock"></div>
                <ng-template #openBlock>
                    <div class="market-open alert alert-success text-center">
                        Market is {{details["marketStatus"]}}
                    </div>
                </ng-template>
                <ng-template #closeBlock>
                    <div class="market-close alert alert-danger text-center">
                        Market {{details["marketStatus"]}}d on {{ details["lastTimestamp"] }}
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- Details End -->

        <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Summary">
                <ng-template matTabContent>
                    <div class="container">
                        <div class="row">

                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-12" style="padding-top: 32px;">
                                <div class="row text-dark">
                                    <div class="col-6">
                                        <!-- <div > -->
                                        <table style="margin-left: auto; margin-right: auto;">
                                            <tr>
                                                <td>High Price:</td>
                                                <td>{{summary.highPrice}}</td>
                                            </tr>
                                            <tr>
                                                <td>Low Price:</td>
                                                <td>{{summary.lowPrice}}</td>
                                            </tr>
                                            <tr>
                                                <td>Open Price:</td>
                                                <td>{{summary.openPrice}}</td>
                                            </tr>
                                            <tr>
                                                <td>Prev. Close:</td>
                                                <td>{{summary.prevClose}}</td>
                                            </tr>
                                            <tr>
                                                <td>Volume:</td>
                                                <td>{{summary.volume}}</td>
                                            </tr>
                                        </table>
                                        <!-- </div> -->
                                    </div>
                                    <div class="col-6">
                                        <ng-container *ngIf="(details['marketStatus'] == 'open')">
                                            <!-- <div style="padding-top: 10%;"> -->
                                            <table style="margin-left: auto; margin-right: auto;">
                                                <tr>
                                                    <td>Mid Price:</td>
                                                    <td>{{summary.midPrice}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ask Price:</td>
                                                    <td>{{summary.askPrice}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Ask Size:</td>
                                                    <td>{{summary.askSize}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Bid Price:</td>
                                                    <td>{{summary.bidPrice}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Bid Size:</td>
                                                    <td>{{summary.bidSize}}</td>
                                                </tr>
                                            </table>
                                            <!-- </div> -->
                                        </ng-container>
                                    </div>
                                </div>
                                <br><br>
                                <div class="row text-center">
                                    <div class="col">
                                        <h2>Company's Description</h2>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 4%;">
                                    Start Date: {{summary.startDate}}
                                </div>
                                <div class="row" style="margin-top: 2%;">
                                    {{summary.description}}

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12" style="padding-top: 32px;">

                                <div id="summaryChart" style="display: block; width: 100%; ">
                                    <highcharts-chart style="display: block;" 
                                        [Highcharts]="Highcharts"
                                        [options]="chartOptionsSummaryChart" 
                                        [constructorType]="'stockChart'"
                                        [(update)]="updateChart"
                                    >
                                    </highcharts-chart>
                                </div>

                            </div>
                        </div>
                    </div>
                </ng-template>
            </mat-tab>

            <mat-tab label="Top News">

                <div class="container">

                    <div *ngFor="let i of stockNews; index as index; let even = even">
                        <div *ngIf="even" class="row test_row">
                            <div class="col-sm-6 mt-4 mt-md-4 test_col">
                                <div class="hover-card card card-body card-header rounded h-100"
                                    (click)="openModal(index,content)">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-thumbnail border-0 p-0" [src]="stockNews[index].urlToImage">
                                        </div>
                                        <div class="col-md-8">
                                            {{stockNews[index].title}}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="(index < stockNews.length-1)" class="col-sm-6 mt-4 mt-md-4 test_col">
                                <div class="hover-card card card-body card-header rounded h-100"
                                    (click)="openModal(index+1,content)">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img class="img-thumbnail border-0 p-0"
                                                [src]="stockNews[index+1].urlToImage">
                                        </div>
                                        <div class="col-md-8">
                                            {{stockNews[index+1].title}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </mat-tab>
            <mat-tab label="Charts">
                <ng-template matTabContent>
                    <div>
                        <highcharts-chart style="display: block; height: 750px" [Highcharts]="Highcharts"
                            [options]="chartOptionsSmaVolume" [constructorType]="'stockChart'">
                        </highcharts-chart>
                    </div>

                </ng-template>
            </mat-tab>
        </mat-tab-group>

    </ng-container>

</ng-container>

<!-- News Modal -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div>
            <h1 class="modal-title mb-0 pb-0" id="modal-basic-title">{{current_news["source"]}}</h1>
            <h4 class="mt-0 mb-1" style="color: #808080">{{current_news["publishedAt"]}}</h4>
        </div>
        <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="d('Cross click')">
            <span aria-hidden="false">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>
            <h3 class="row mb-0 mt-0 " style="font-weight: 500;">
                {{current_news["title"]}}
            </h3>
            <div innerHtml="{{current_news['description']}}"></div>
            <div class="here mb-0 mt-0" style="color: #808080">
                For more details
                click <a href="{{current_news['url']}}" target="_blank">here</a>
            </div>
        </div>

        <div class="row mt-5 ml-0 mr-1"
            style="height: 100px; width: 100%; border: 1px solid #EDEDED; border-radius: 5px; padding-bottom: 110px;">
            <div class="container">

                <div class="row" style="font-weight: light;">
                    <div class="container py-3">
                        Share
                    </div>
                </div>
                <div class="row">
                    <div class="container">
                        <a style="padding: 5px; padding-left: 0;" [attr.href]=" 'https://twitter.com/intent/tweet?text=' + twitter_text" class="twitter-link btn-large"
                            target="_blank">
                            <i class="fa fa-twitter fa-3x" aria-hidden="true" style="color: #1da1f2;"></i>
                        </a>
        
                        <a style="padding: 5px;; padding-left: 0;" [attr.href]=" 'http://www.facebook.com/share.php?u=' + current_news['url']" class="twitter-link btn-large"
                            target="_blank">
                            <i class="fa fa-facebook-square fa-3x" aria-hidden="true" style="color: #0000FF;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</ng-template>

<!-- Modal buy button -->
<ng-template #buyStocks let-c="close" let-d="dismiss">
    <div class="modal-header pb-0 mb-0">
        <h4 class="modal-title" id="modal-basic-title">{{ ticker }}</h4>
        <button type="button" class="close" aria-label="Close" style="outline: none;" (click)="d('Cross click')">
            <span aria-hidden="false">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div>Current Price: {{ lastPrice | number:'1.2-2' }}</div>
        <div class="form-inline row pt-1">
            <label class="col-sm-2 col-form-label" for="numberInputEx">Quantity</label>
            <input class="form-control ml-2 mr-2" min="0" type="number" [(ngModel)]="quantity" id="numberInputEx" mdbInput>
        </div>
    </div>
    <div class="modal-footer pb-1 pt-1">
        <div class="mr-auto">Total: {{quantity * lastPrice | number:'1.2-2'}}</div>
        <button [disabled]="quantity < 1" type="button form-control" class="buy-button btn btn-success"
            (click)="buyStockFunc()">Buy</button>
    </div>
</ng-template>
