.test_col{
    margin-left: 10%;
    margin-right: 10%;
}

.ticker-name {
    font-family: fantasy;
    font-size: 30px;
    font-weight: 500;
    color: darkgray;
}

.company-name {
    font-family: fantasy;
    font-size: 20px;
    font-weight: 500;
    padding-top: 1%;
    color: black;
}

.exchange-code {
    font-size: small;
}

.last-price {
    font-size: 30px;
    font-weight: 500;
}

.change {
    font-size: 20px;
    font-weight: 500;
}

.green-text {
    color: green;
}
.red-text {
    color: red;
}

.market-open {
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 0;
    /* color: green; */
}

.market-close {
    display: inline-block;
    padding: 0;
    border: none;
    border-radius: 0;
    /* color: red; */
}

.star-icon {
    position: relative;
    bottom: 0em;
}
.star-icon a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.here a:hover {
    color: #007BFF; 
    text-decoration: underline;
}

.hover-card:hover {
    cursor: pointer;
}
